body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  margin-right: 25px;
}

#cardDisplay {
  border-style: solid;
  border-color: blue;
  display: flex;
  flex-wrap: wrap;
}

#cardDisplay2 {
  border-style: solid;
  border-color: blue;
  display: flex;
  flex-wrap: wrap;
  height:400px;
  overflow: auto;
}

h6 {
  margin: 0px 0px 0px 0px;
}

#cardDisplay2 button {
  margin-top: 0px;
}

#displayCards {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  justify-content: center;
  align-items: center;
}

#currentBuildDisplay {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 37% ;
  border-style: solid;
  border-color: blue;
  display: flex;
}

#newBuildForm {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#buildName {
  width: 100%;
  align-items: center;
  justify-content: center;
}

#buildCardDisplay {
  display: flex;
  align-content: space-around;
}

.buildCards {
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buildCards img {
  width: 75%;
}

.buildCards button {
  width: 40%;
  justify-content: center;
  align-items: center;
}

#newBuildSubmission {
  width: 100%;
}

#highlightPanel {
  display: flex;
  align-content: space-around;
}

.highlightCards {
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.highlightCards img {
  width: 100%;
}

#replacementForm {
  display: flex;
  margin-top: 10px;
  width: 100%;
}
#replacementFormDiv {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#replacementFormDiv select {
  margin-right: 20px;
}

#replaceButton {
  margin-top: -10px;
}

#buttons {
  margin-top: 10px;
}
#buttons button{
  margin-right: 20px;
}

#selectHeader {
  text-align: center;
  margin-bottom: -3px;
}

#highlight {
  background-color: rgb(161, 224, 237);
}