body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#currentBuildDisplay {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 38% ;
  background-color: black;
  border-style: solid;
  border-color: blue;
  display: flex;
}

#cardDisplay {
  border-style: solid;
  border-color: blue;
  display: flex;
  flex-wrap: wrap;
  height:60%
}

.buildCardDisplay {
  display: flex;
  flex-direction: column;
}

.buildCardDisplay img {
  width: 75%;
  
  
}

.buildCardDisplay button {
  width: 40%;
  justify-content: center;
}


#newBuildForm {
  display: flex;
  flex-wrap: wrap;
}

#buildName {
  width: 100%
}

#newBuildSubmission {
  width: 100%;
}